# Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import sqlite3
import csv
import os
import glob

# Setting up the input folder and files

### Input folder location here

In [ ]:
InputFolder="Input location here with / seperator"

# Importing the files

In [ ]:
path = InputFolder
extension = 'csv'
os.chdir(path)
result = glob.glob('*.{}'.format(extension))

In [ ]:
def extract_name_files(text): # removes .csv from the name of each file
    name_file = text.strip('.csv').lower()
    return name_file

In [ ]:
names_of_files = list(map(extract_name_files,result)) # creates a list that will be used to name your dataframes
for i in range(0,len(names_of_files)):
    names_of_files[i]=names_of_files[i].replace(" ","_")

In [ ]:
for i in range(0,len(names_of_files)): # saves each csv in a dataframe structure
    exec(names_of_files[i] + " =  pd.read_csv('"+InputFolder+'/'+result[i]+"',encoding='ISO-8859-1')")

In [ ]:
alldfs=[]
for var in dir():
    if isinstance(locals()[var], pd.core.frame.DataFrame)  and var[0]!='_':
        alldfs.append(var)

In [ ]:
table_names=[]
col_names=[]
for i in range(0,len(alldfs)): 
    table_names.append(alldfs[i])
    exec(alldfs[i]+".columns="+alldfs[i]+".columns.str.replace(' ' , '_')")
    temp=eval(alldfs[i])
    temp=(','.join(temp.columns.values))
    col_names.append(temp)

# Initialize SQL Database Instance

In [ ]:
conn = sqlite3.connect('test_database')
c = conn.cursor()

# Create a database of all the dataframes as SQL tables

In [ ]:
for i in range(0,len(table_names)):
    c.execute('CREATE TABLE IF NOT EXISTS '+ table_names[i] +' ('+col_names[i]+');')
    conn.commit()
    exec(table_names[i]+".to_sql('"+table_names[i]+"', conn, if_exists='replace', index = False)")

### List all the tables in database (ignore table_0)

In [ ]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())

# Write SQL Query

In [ ]:
c.execute('''

Write SQL Query here

''')

In [ ]:
#Mention the column names of the output table to view the result
df = pd.DataFrame(c.fetchall(), columns = [])
df

In [ ]:
df = pd.read_sql_query("""

Write SQL Query here

""", conn)
df

In [ ]:
conn.close